.container-work-flow {
	position: fixed;
    top: 60px;
    left: 0;
    padding: 1rem;
    background: white;
    width: 25vw;
    border-right: 1px solid var( --lt-color-gray-500 );
    height: calc( 100% - 60px - 25px );
	transform: translateX( -30vw );
	transition: all ease-in-out .3s;
	overflow-y: auto;
	z-index: 99999999999999;
	&.open {
		transform: translateX(0);
	}

}

.components-button.has-icon.soivigol-work {
	background-color: var(--wp-admin-theme-color);
    color: var(--wp--preset--color--white);
}

.soivigol-work-flow {
	svg {
		max-height: 24px;
		max-width: 24px
	}
}

.ql-editor {
	min-height: 400px;
	margin-bottom: .5rem;
}

.check-list-item {
	padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
    border-bottom: 1px solid lightgray;
	.dashicons-move {
		margin-right: .3rem;
	}
	.soivigol-btn-remove {
		position: absolute;
		right: 0;
	}
}

.text-big {
	font-size: 1.2rem;
	font-weight: 700;
}
